html{
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    font-family: rajdhani,sans-serif;
}
.navbar{
    width: 100%;
    position:relative;
    z-index: 999;    
}
.navbar ul{
    list-style-type: none;
    overflow: hidden;
}

.navbar  a{
    font-family: rajdhani, sans-serif;
    display: block;
    text-decoration: none;  
    border-radius: 15px;  
}

li a:hover{
    background-color:rgb(0, 110, 255);
    color: white;
    transition: 0.5s ease-in-out;
    font-weight: bold;
    
}

li a{
    display: block;
    font-size: 20px;
    padding: 10px;
}

.dropdown{
    
}

.hero_content{
    z-index: 1;
}

header{
    display: grid;
    grid-template-areas:"hero" ;
    height: 60vh;
    max-height: 600px;
    place-items: center;
}

header p,h1{
    color: #fff;
}


.column {
    margin-top: 60px;
    float: left;
    width: 33.33%;
    padding: 5px;
  }


.column img, .card{
    box-shadow:  5px 5px 5px 5px #888888;
  }

.content{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.container::after {
    content: "";
    clear: both;
    display: table;
  }

.cnt{
    background-attachment: fixed;
    background-position: center;
}  

.box{
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.box form{
    width: 90%;
    margin: auto;
}

.col {
    float: left;
    padding: 5px;
}
